/* ---------------
font
------------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

.card-text{
    padding-top: 20px;
    padding-left: 20px;
}
.blog-card{
    width: 312px;
    height: 362px;
    border: 1px solid #e9e7e7;
}
.button-style{
    width: 100px;
    height: 32px;
    font-size: 16px;
}
.icon{
    font-size: 24px;
    padding-right: 10px;
}
.icon-txt{
    font-size: 17px;
    padding-right: 30px;
}
.players-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}